<% if logged_in? %>
    <h1>説明文</h1>
   
<% else %>
    <div class="center jumbotron">
      <%= link_to "初めての方はこちら", '/signup', class: "btn btn-lg btn-primary" %>
    　<%= link_to "ログインはこちら", login_path, class: "btn btn-lg btn-primary"  %>
    </div>
<% end %>